body {
    background-color: black;
}
header{
    padding: 7px;
    color: white;
    border-radius: 13px;
    border-style: double;
    border-color: crimson;
    background: white;
    
}


header img{
    width: 145px;
    border-radius: 14px;

}

.logo{
    align-self:left;
    width: 100%;
    margin-bottom: 1px;

}

.container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    font-size: 40px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    width: 100%;

}


nav ul li {
    display: inline-block;
}

.titulo-detalle-peliculas {
    color: white;
    text-align: center;
    font-size: 30px;
}
.detalle-peliculas {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5%;
    text-align: center;
    flex-direction: row;
}

.foto-ana {
    color: white;
    border-radius: 13px;
    border-style: solid;
   
}

.imagenes {
    height: 560px;
    width: 420px;
    border-radius: 9px;
    object-fit:cover;
}

.descripcion-pelicula {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.parrafo-descripcion {
    display: flex;
    color: white;
   flex-direction: column;
    margin-left: 3%;
   margin-top: 5%;
}


.titulo-pelicula {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-right: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info  {
    margin-top: 13%;
    border-radius: 0px;
    margin-left: -90%;
}
