body {
    background-color: black;
}
header{
    padding: 7px;
    color: white;
    border-radius: 13px;
    border-style: double;
    border-color: crimson;
    background: white;
    
}


header img{
    width: 145px;
    border-radius: 14px;

}

.container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    font-size: 40px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    width: 100%;

}


nav ul li {
    display: inline-block;
}


.atributoflex{
display: flex;
flex: wrap;
flex-direction: row;
color: white;
font-family: "Urbanist", sans-serif;
}

.atributoflex img{
    width: 100%;
    }
.atributoflex article{
    width: 18%;
    font-family: "Urbanist", sans-serif;
}

.letrablanca{
color: white;
font-family: "Urbanist", sans-serif;

}
